/* Added the header to separate the logo hyper links and title of the page*/
header {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: crimson;
}
body {
    background-color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    padding: 20px;
}
/* This is for the different heading stylings most done in class when learning CSS */
h1 {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large ;
}
h2 { 
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large ; 
  }

  h1.title {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
  }

  h2.title {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

h3 {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
/* Added this button styling during java class */ 
 button{
  padding: 5px;
  margin: 5px;
  background-color: crimson;
  border-radius: 5px;
  font-size: x-large;
 }

 li {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;}

img.Logo {
    width: 400px;
    height: 100px;
}
/* created table.rank */
  table.rank {
  background-color: darkslategray;
  padding: 10px;
  border-radius: 10px;
  border-color: lightblue;
}

table.cars {
    background-color: darkslategray;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
}
/* This is for my brands of cars and the style */
h2.brands {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.flexbox-container {
  display: flex;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  flex-wrap: wrap;
}

li.hyper {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  list-style-type: none;
  border-color: crimson;
  border-radius: 5px;
  padding: 5px;
}

#idname {
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  list-style-type: none;
  border-color: crimson;
  border-radius: 5px;
  padding: 5px;
}